body {
    margin: 0;
    font-family: sans-serif;
}

header {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36pt;
    font-weight: bold;
}

#pesquisa, #resultado {
    margin-left: 15px;
}